html {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 14px;
}
.wrap {
  max-width: 800px;
  margin: 0 auto;
}

.control {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.button {
  display: inline-block;
  margin: 20px;
  padding: 10px 30px;
  font-size: 16px;
  font-family: "Lucida Grande", Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2),
0 1px 3px #aaa;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
  color: #fff;
  background-image: linear-gradient(#CC0630 0%, #8F0222 75%, #6D0019 100%);
  outline: none;
}

.button:disabled {
  background-image: linear-gradient(#FFFFFF, #DDDDDD);
}

.new-table table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.new-table table tr {
  border-bottom: 1px solid #333;
  background: #fff;
}

.new-table thead tr {
  background: blue;
  color: #fff;
}

.new-table tbody tr:nth-child(even) {
  background: lightcyan;
}

.new-table table th,
.new-table table td {
  padding: 5px;
  text-align: center;
}